{% extends 'base.html.twig' %}
{% block title %} Post {% endblock %}
{% block body %}
<div class="container col-6 g-3">
    <form>
    <!-- Name input -->
    <div class="form-outline mb-4">
        <label class="form-label pt-5" for="form4Example1">Nom</label>
        <input type="text" id="form4Example1" class="form-control" />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example2">Adresse mail</label>
        <input type="email" id="form4Example2" class="form-control" />
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Message</label>
        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form4Example4"
        checked
        />
        <label class="form-check-label" for="form4Example4">
        M'envoyer une copie du message
        </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}
